*{
    margin: 0;
    padding: 0;
}


.event2 {
    padding-top: 25px;
    height: 965px;
    position: relative;
}

.event2-con {
    width: 1600px;
    margin: 0 auto;
    position: relative;
    height: 690px;
    padding-top: 45px;
    overflow: hidden;
}

.event2 .swiper-slide {
    width: 1200px;
    height: 590px;
    text-align: center;
}

.event2 .swiper-button-next,
.swiper-button-prev {
    top: 334px;
    width: 42px;
    height: 59px;
}

.event2 .swiper-button-prev {
    width: 62px;
    height: 62px;
    left: 100px;
    background: url(../img/prev_btn.png) no-repeat;
}

.event2 .swiper-button-next {
    width: 62px;
    height: 62px;
    right: 100px;
    background: url(../img/next_btn.png) no-repeat;
}

.event2 .swiper-container-3d .swiper-slide-shadow-left,
.event2 .swiper-container-3d .swiper-slide-shadow-right {
    background: none;
}

.event2 .swiper-pagination {
    width: 1600px;
    height: 10px;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.swiper-pagination-bullet {
    width: 79px;
    height: 6px;
    background: #c7c8c9;
    border-radius: 0;
    margin: 0 10px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #dcc072;
}

/*.event2-con .swiper-slide a{position: relative; display: block;}*/
.event2-con .inc {
    width: 20px;
    height: 20px;
    background: url(//game.gtimg.cn/images/ty/cp/a20190709xdyk/inc.png) no-repeat;
    position: absolute;
    /*pointer-events: none;*/
    cursor: pointer;
    background-size: 100% 100%;
}

.event2-con .inc0 {
    top: 386px;
    left: 50%;
    margin-left: -360px;
}

.event2-con .inc1 {
    top: 70px;
    left: 50%;
    margin-left: -190px;
}

.event2-con .inc2 {
    top: 445px;
    left: 50%;
    margin-left: 100px;
}

.event2-con .inc3 {
    top: 160px;
    left: 50%;
    margin-left: 150px;
}

.event2-con .inc4 {
    top: 385px;
    left: 50%;
    margin-left: 320px;
}

.event2-con .inc5 {
    top: 230px;
    left: 50%;
    margin-left: 470px;
}

.event2-con .inc6 {
    top: 190px;
    left: 50%;
    margin-left: -190px;
}

.event2-con .inc7 {
    top: 405px;
    left: 50%;
    margin-left: -310px;
}

.event2-con .inc8 {
    top: 125px;
    left: 50%;
    margin-left: 260px;
}

.event2-con .inc9 {
    top: 330px;
    left: 50%;
    margin-left: 360px;
}

.event2-con .inc10 {
    top: 105px;
    left: 50%;
    margin-left: -62px;
}

.event2-con .inc11 {
    top: 445px;
    left: 50%;
    margin-left: -390px;
}

.event2-con .inc12 {
    top: 325px;
    left: 50%;
    margin-left: -20px;
}

.event2-con .inc13 {
    top: 445px;
    left: 50%;
    margin-left: 150px;
}

.event2-con .inc14 {
    top: 85px;
    left: 50%;
    margin-left: -130px;
}

.event2-con .inc15 {
    top: 295px;
    left: 50%;
    margin-left: -340px;
}

.event2-con .inc16 {
    top: 235px;
    left: 50%;
    margin-left: 60px;
}

.event2-con .inc17 {
    top: 395px;
    left: 50%;
    margin-left: 350px;
}

.event2-con .inc18 {
    top: 215px;
    left: 50%;
    margin-left: 470px;
}

.event2-con .inc19 {
    top: 115px;
    left: 50%;
    margin-left: -230px;
}

.event2-con .inc20 {
    top: 475px;
    left: 50%;
    margin-left: -320px;
}

.event2-con .inc21 {
    top: 255px;
    left: 50%;
    margin-left: 23px;
}

.event2-con .inc22 {
    top: 455px;
    left: 50%;
    margin-left: 80px;
}

.event2-con .inc23 {
    top: 325px;
    left: 50%;
    margin-left: 410px;
}

.event2-con .inc:after {
    content: '';
    width: 50px;
    height: 50px;
    border: solid 3px #fff;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -28px;
    -webkit-animation: pulse 1s 0s linear infinite;
    -moz-animation: pulse 1s 0s linear infinite;
}

.event2-con .inc:before {
    content: '';
    width: 60px;
    height: 60px;
    border: solid 3px #fff;
    border-radius: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -33px 0 0 -33px;
    -webkit-animation: pulse 2s 0s linear infinite;
    -moz-animation: pulse 2s 0s linear infinite;
}


.event2-swiper .swiper-slide-next:after,
.event2-swiper .swiper-slide-prev:after {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    width: 1200px;
    height: 596px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -530px;
    z-index: 10;
}


.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 27px;
	height: 44px;
	margin-top: -93px;
	z-index: 10;
	cursor: pointer;
	-moz-background-size: 27px 44px;
	-webkit-background-size: 27px 44px;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: .2
}


.swiper-container-3d {
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px
}

.swiper-wrapper {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d
}
*{
    margin: 0;
    padding: 0;
}


.event2 {
    padding-top: 25px;
    height: 965px;
    position: relative;
}

.event2-con {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 690px;
    padding-top: 45px;
    overflow: hidden;
}

.event2 .swiper-slide {
    width: 900px;
    height: 433px;
    text-align: center;
}

.event2 .swiper-button-next,
.swiper-button-prev {
    top: 334px;
    width: 42px;
    height: 59px;
}

.event2 .swiper-button-prev {
    width: 62px;
    height: 62px;
    left: 100px;
    background: url(../img/prev_btn.png) no-repeat;
}

.event2 .swiper-button-next {
    width: 62px;
    height: 62px;
    right: 100px;
    background: url(../img/next_btn.png) no-repeat;
}

.event2 .swiper-container-3d .swiper-slide-shadow-left,
.event2 .swiper-container-3d .swiper-slide-shadow-right {
    background: none;
}

.event2 .swiper-pagination {
    width: 1200px;
    height: 10px;
    text-align: center;
    position: absolute;
    bottom: 189px;
    left: 0;
}

.swiper-pagination-bullet {
    width: 79px;
    height: 6px;
    background: #c7c8c9;
    border-radius: 0;
    margin: 0 10px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #dcc072;
}


.event2-swiper .swiper-slide-next:after,
.event2-swiper .swiper-slide-prev:after {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    width: 900px;
    height: 433px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -451px;
    z-index: 10;
}

